# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Project exclude paths
/node_modules/
/node_modules/@types/node/LICENSE
/node_modules/@types/node/README.md
/node_modules/@types/node/test/
/node_modules/aws-ssl-profiles/lib/@types/profiles.js
/node_modules/aws-ssl-profiles/lib/index.js
/node_modules/aws-ssl-profiles/lib/profiles/ca/defaults.js
/node_modules/aws-ssl-profiles/lib/profiles/ca/proxies.js
/node_modules/aws-ssl-profiles/LICENSE
/node_modules/aws-ssl-profiles/README.md
/node_modules/dotenv/
/node_modules/express/LICENSE
/node_modules/express/Readme.md
/node_modules/iconv-lite/
/node_modules/long/index.js
/node_modules/long/LICENSE
/node_modules/long/README.md
/node_modules/long/umd/index.js
/node_modules/lru.min/
/node_modules/mysql2/
/node_modules/mysql2/typings/mysql/info.txt
/node_modules/mysql2/typings/mysql/LICENSE.txt
/node_modules/pg/LICENSE
/node_modules/pg/README.md
/node_modules/sql-escaper/
/node_modules/undici-types/LICENSE
/node_modules/undici-types/README.md
.env
